.search-suggestions {
  &__options {
    &-field {
      margin-right: 0.25rem;
    }

    &-example {
      color: #72767d;
    }
  }

  &__user {
    &-name {
      color: white;
      font-weight: 600;
    }

    &-exact-name {
      color: #72767d;
    }
  }
}
